---

---

<html lang="da">
  <head>
    <meta charset="UTF-8" />
  </head>
</html>

<footer class="footer">
  <p>Adresse: Nørrebrogade 210, 2200 København N</p>
  <p>Email: crackplanet.cph@gmail.com</p>
  <p>Telefon: +45 23720139</p>
</footer>

<style>
  .footer {
    background-color: #c9a3e6;
    padding: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
</style>
